<% layout('/layouts/boilerplate') -%>

<body>
    <div class="row">
    <div class="col-8 offset-2">
    <h3 class="mt-4">Edit the Listing</h3>
    <form action="/listings/<%=listing._id%>?_method=put" method="post">
        <div>
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" type="text" value="<%= listing.title %>" class="form-control mb-3">
        </div>
        <div>
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" type="text" class="form-control mb-3"><%= listing.description %></textarea>
        </div>
        <div>
            <label for="image" class="form-label">Image Link</label>
            <input name="listing[image]" type="text" value="<%= listing.image %>" class="form-control mb-3">
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" type="number" value="<%= listing.price %>" class="form-control">
            </div>
            <div class="col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" type="text" value="<%= listing.country %>" class="form-control">
            </div>
        </div>
        <div>
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" type="text" value="<%= listing.location %>" class="form-control mb-3">
        </div>
        <button class="btn btn-dark mb-3 edit-btn">Edit</button>
    </form>
    </div>
    </div>
</body>